<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./head.ejs') %>
    <link rel="stylesheet" href="./styles/index.css"> 
    <title>Home</title>
</head>
<body>
    <%- include('./nav') %> 
    <main class="container m-4">
        <div class="row">
            <div class="col-md-3">
                <%- include('./category') %> 
            </div>
            <div class="col-md-6">
                <ul>
                    <% for (let i =0; i <posts.length;  i++ ) { %>
                        <li>                               
                            <h3>
                                <a  class="title text-danger" href=<%="/post/"+posts[i]._id%>>
                                    <%= posts[i].name %> 
                                </a>
                            </h3>
                            <p>
                                <%= posts[i].body %>  
                            </p>
                            <div>
                                <p class="post-info">
                                    Created: 
                                    <%= posts[i].createAt.getFullYear()+"-"+
                                        (posts[i].createAt.getMonth()-1+2)+"-"+   
                                        (posts[i].createAt.getDate()-1)
                                     %>
                                     by Namdev0411 
                                </p>
                            </div>
                        </li> 
                    <% } %> 
                </ul>
            </div>
            <div class="col-md-3">
                <article>
                    <ul>
                        <li>
                            <a href="#">
                                <h4 class="text-center">Tôi là ai</h4>
                            </a>
                            <p>text ngan</p>
                        </li>
                    </ul>
                </article>
            </div>
        </div>
    </main>
    <%- include('./footer.ejs') %> 
    <%- include('./jquery.ejs') %> 
</body>
</html>