<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./head.ejs') %>
    <link rel="stylesheet" href="styles/view.css">
    <title>View Post</title>
</head>
<body>
    <%- include('./nav') %>
    <main class="container">
        <div class="row">
            <div class="col-md-2 pt-4">
                <%- include('./category') %>
            </div>
            <div class="col-md-8">
                <div class="post">
                    <h2 class="post-title my-4">
                        <%=post.name%>
                    </h2>
                    <div>
                        <p class="post-info"> 
                            <%= post.createAt.getFullYear()+"-"+
                                (post.createAt.getMonth()-1+2)+"-"+   
                                (post.createAt.getDate()-1)
                             %>
                             Namdev0411 
                        </p>
                    </div>
                    <div>
                        <button type="button" class="btn btn-secondary">
                            <a href="/">
                                全ての記事
                            </a>
                        </button>
                        <button type="button" class="btn btn-info">
                            <a href="/post/edit/<%=post._id%>">
                                Edit
                            </a>
                        </button>
                    </div>
                    <p class="post-content mt-4"><%= post.body %></p>
                </div>
                <div class="interactive m-4">
                    <div class="row">
                        <div class="like" id="like">
                            <object data="./icons/like.svg"> </object>
                        </div>
                        <div class="comments col-md-10">
                            <div class="form-group comments-input d-inline">
                                <label for="comments-body"></label>
                                <input type="text" name="comment" id="comments-body" 
                                    class="form-control-sm d-inline col-9 ">
                                <button type="button" class="btn btn-sm btn-primary">
                                    Send
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('./footer.ejs') %>  
    <script src="./js/view.js"></script>
</body>
</html>